@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Silkscreen:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");


#to-area{
    width: 66vw;
    height: 50px;
}

#email-container{
        margin-left: 20px;
    width: 66vw;
    height: 50px;
    border: none;


}

#subject-area{
    width: 66vw;
    height: 50px;
    
}

#subject-container{
        margin-left: 20px;
    width: 66vw;
    height: 50px;
    border: none;

}


#message-container{
        margin-left: 20px;
    height : 45vh;
    width: 66vw;
    border: 1px solid #ccc;
        padding: 8px;
        min-height: 30px;
        outline: none;
        cursor: text;
        overflow-y: scroll;
            overflow-x: scroll;

}

.send-button{
    margin-left: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;

}

.symbol-topbar{
    margin-right: 7px;
}

body{
    font-family: 'Poppins', sans-serif;
}

#outer-compose-container{
    width: 70vw;
}

