.labelAnchor{
    text-decoration: none;
    font-family:sans-serif;
    color: rgb(0, 0, 0);
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.658); */
}

.labelDiv a{
    color: black !important;
}



/* body{
    background-color: rgb(222, 247, 255);
} */

.labelDiv:hover:not(.iconDiv){
    background-color: rgb(201, 243, 255);
    border-radius: 20px;
}