.allSettings{
    border-radius: 20px;
    border:solid 1px rgb(189, 189, 189);
    font-family: sans-serif;
    color:#1a73e8;
    font-weight: bolder;
    background-color: transparent;
    z-index: 2;
}

.allSettings:hover{
    background-color:rgb(245, 251, 255);
}

.close{
    border: 0px;
    background-color: transparent;
}