.allSettings{
    border-radius: 20px;
    border:solid 1px rgb(189, 189, 189);
    font-family: sans-serif;
    color:#1a73e8;
    font-weight: bolder;
    background-color: transparent;
    z-index: 2;
}

.allSettings:hover{
    background-color:rgb(245, 251, 255);
}

.close{
    border: 0px;
    background-color: transparent;
}

#themeSelection input[type="radio"] {
    display: none;
}

#themeSelection input[type=radio]:checked+label>img {
    border: solid 3px rgb(0, 140, 255);
}

#themeSelection label>img{
    width: 160px;
    height: 90px;
    border-radius: 10px;
    margin: 2px;
}

#quick-settings-main{
    margin-top: 100px;
    background-color:rgba(255, 255, 255, 0.831);
    border-radius: 20px;
    padding: 10px;
    height: 85vh;
    overflow-y:scroll ;
    overflow-x: hidden;
    margin-right: 5px;
    z-index:20;
    position:absolute;
}
