#email-split-list{
    display: flex !important;
    width: 100% !important;
}

#main-split-container{
    display: flex;
    width: 100%;
        border-radius: 20px;
    background-color: white !important;
}

#main-list-container{
    width: 40%;
}

#main-list-content{
    padding-top: 60px;
    width: 100% ;
    overflow-x: scroll;
}

#email-split-list{
    width: 50% ;
    border-radius: 20px;
}

#email-split-view{
    width: 60%;
    position: relative;
    text-align: center;
    font-family: "Google Sans",Helvetica,Arial,sans-serif;
}

#email-split-view p{
    margin-top: 30%;
    font-size: 25px;
    font-weight: 600;
}

#footer{
    margin-top: 180px;
}

#footer p{
    font-size: 15px;
    font-weight: 300;
}

#footer-links{
    display: flex !important;
    margin-left: 24%;
}

#footer-links a{
    text-decoration: none;
    color: rgb(78, 78, 78);
}